@import url('@picocss/pico/css/pico.amber.min.css');
@import 'tailwindcss';

:root {
  --pico-block-spacing-vertical: 5rem;
}

button {
  width: 100%;
  margin-bottom: 1rem;
}

nav {
  justify-content: start;
}

a:not(.active) {
  text-decoration: none;
}
